.git
.github
node_modules
vendor
.env
.env.backup
.env.docker
docker-compose.override.yml
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/storage
*.md
!README.md
tests
.vscode
.idea
.phpunit.result.cache
npm-debug.log
yarn-error.log
